Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a collection of structured data organized for efficient retrieval and processing. SQL (Structured Query Language) and NoSQL databases differ in their data models and how they are stored. 
SQL databases, such as MySQL and PostgreSQL, use a structured, tabular format, suitable for relational data and transactions. NoSQL databases, such as MongoDB and Cassandra, use a simple, schema-less approach, handling unstructured or partially structured data with horizontal scalability SQL databases are ACID-compliant to ensure data integrity , whereas distributed NoSQL databases -The choice of environments that prioritize flexibility, scalability, and ultimately stability depends on the specific needs and characteristics of the data and application.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) is a subset of SQL used for defining and managing database structures. 

CREATE: Establishes new database objects.
  Example: `CREATE TABLE Employees (ID INT PRIMARY KEY, Name VARCHAR(50), Salary INT);`
  
DROP: Deletes existing objects.
  Example: `DROP TABLE Employees;`
  
ALTER: Modifies existing object structures.
  Example: `ALTER TABLE Employees ADD COLUMN Department VARCHAR(30);`
  
TRUNCATE: Removes all records from a table while keeping the structure.
  Example: `TRUNCATE TABLE Employees;`

DDL ensures efficient organization, modification, and deletion of database elements.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an examp

Data Manipulation Language (DML): DML is a subset of SQL used for managing data within a database. Key commands include:

INSERT: Adds new records to a table.
  INSERT INTO Employees (ID, Name, Salary) VALUES (1, 'John Doe', 50000);
  

UPDATE: Modifies existing records in a table.
  UPDATE Employees SET Salary = 55000 WHERE ID = 1;

DELETE: Removes records from a table.
  DELETE FROM Employees WHERE ID = 1;

These commands facilitate the manipulation and maintenance of data within a database.

Q4. What is DQL? Explain SELECT with an example.

Data Query Language (DQL): 
DQL is a subset of SQL used for data retrieval. The primary command is SELECT, which extracts information from a database.

Example:

SELECT FirstName, LastName, Age FROM Employees WHERE Department='IT' AND Salary > 50000;

In this example, the SELECT statement retrieves the first name, last name, and age of employees from the "Employees" table, filtering results for those in the 'IT' department with a salary exceeding $50,000. DQL allows precise data extraction based on specified conditions and columns.

Q5. Explain Primary Key and Foreign Key.

Primary Key: A Primary Key is a unique identifier for each record in a database table. It ensures data integrity by preventing duplicate and null values, serving as a reference for relationships with other tables.

Foreign Key: A Foreign Key establishes a link between tables by referencing the Primary Key of another table. It enforces referential integrity, ensuring that values in the Foreign Key column correspond to existing values in the Primary Key column of the related table, facilitating the creation of relationships between different tables in a relational database.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method. Q7. Give the order of execution of SQL clauses in an SQL query.

Python code to connect MySQL:

import mysql.connector
connection = mysql.connector.connect(user='username', password='password', host='localhost', database='dbname')
cursor = connection.cursor()
cursor.execute("SELECT * FROM Employees")
results = cursor.fetchall()
connection.close()

In this code, `cursor()` creates a cursor object to interact with the database, while `execute()` sends an SQL query for execution. The fetched results are obtained using `fetchall()`, and the connection is closed after data retrieval.

Q7. Give the order of execution of SQL clauses in an SQL query.

Order of SQL query execution:
1. FROM
2. WHERE
3. GROUP BY
4. HAVING
5. SELECT
6. DISTINCT
7. ORDER BY
In an SQL query, these clauses are executed in the specified sequence for data retrieval and processing.